*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-image: url('../images/bg.jpg');
	background-size: 100vw 100vh;
}

#container{
	position: fixed;
	left: 25vw;
	top: 80px;
	width: 50vw;
	border: 1px solid black;
	ox-shadow: 3px 3px 3px grey;
}

#container > header{
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid white;
	background-color: rgba(50, 50, 50, 0.9);
}

#title{
	flex: 0 0 75%;
	line-height: 65px;
	height: 70px;
	color: white;
	font-family: arial;
	font-size: 32px;
	padding-left: 15px;
}

#rating{
	flex: 0 0 25%;
	line-height: 65px;
	height: 70px;
	color: white;
	text-align: right;
	font-family: arial;
	font-size: 20px;
	padding-right: 20px;
}

#info{
	flex: 0 0 100%;
	font-family: arial;
	font-size: 13px;
	letter-spacing: 0.2px;
	padding-left: 15px;
	color: rgba(240, 240, 240, 0.9);
	padding-bottom: 25px;
}

#container > section{
	display: flex;
	flex-wrap: wrap;
	height: 350px;
	background-color: rgba(220, 220, 220, 0.9);
}

#container > section > img{
	flex: 0 0 33%;
	height: 100%;
}

#container > section > div{
	flex: 0 0 65%;
	height: 100%;
	font-size: 15px;
	font-family: arial;
	line-height: 25px;
	padding: 20px 40px;
}